@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;800&display=swap');


body{
  font-family: 'Montserrat';
  font-weight: 500;
  background-color: #c2cfb2;
  color: #8db580;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #4b4a67;
  
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

a{
  color : #8db580;
}

.nav-links a{
  text-decoration: none;
  padding: 20px;
}

.nav-links a:hover{
  color: #DDD1C7;
}